name: Local Stack
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    environment:
      - ENVIRONMENT=dev
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 5257:5257
    environment:
      - ASPNETCORE_ENVIRONMENT=Dev
